.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}

/* 小さいメモ帳を目指していて余分な空白を消したいのでmarginは0にする */
.wmde-markdown * {
  margin: 0px !important;
}

/* アプリが黒一色だと背景が黒色の時にアプリの位置・存在がわかりづらいため、アプリの上部に色を付ける*/
.w-md-editor {
  border-top: #61dafb 3px solid;
}

/* 小さいメモ帳を目指しているのでツールバーの余白を減らす */
.w-md-editor-toolbar {
  padding: 3px 0px;
}
